* {
  margin: 0;
}

header {
  background-color: yellow;
  padding-bottom: 3rem;
}

header h1 {
  text-align: center;
  padding: 15px;
}

header audio {
  margin-top: 20px;
}

aside {
  background-color: orange;
  float: left;
  width: 250px;

  height: 700px;
}

aside h2 {
  padding: 20px 0;
}

main {
  background-color: aquamarine;
  height: 700px;
}

main div {
  padding: 20px 0;
}

main p {
  padding-top: 20px;
}
main img {
  padding-top: 20px;
}

footer {
  padding: 10px;
  clear: both;
  background-color: rgb(210, 181, 225);
}
footer p {
  padding: 10px 0;
}

@media screen and (max-width: 645px) {
  aside,
  main {
    height: 800px;
  }
  img {
    width: 200px;
  }
}
