* {
  margin: 0;
}

header {
  background-color: yellow;
}

header h1 {
  text-align: center;
  padding: 15px;
}

main {
  margin: 10px;
  background-color: hotpink;
}

main div:not(:last-child) {
  padding-bottom: 10px;
}

main div span {
  margin-right: 10px;
}
main label {
  margin-right: 5px;
}

footer {
  padding: 10px;
  background-color: rgb(210, 181, 225);
}
footer p {
  padding: 10px 0;
}
